<footer class="border-t-2 py-4 ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
        <div class="flex space-x-14">
            <a href="#" class="text-lg font-bold">Secure</a>
            <a href="#" class="text-gray-600">Visual updates</a>
            <a href="#" class="text-gray-600">Social</a>
            <a href="#" class="text-gray-600">Community</a>
        </div>
        <div class="text-gray-600">
            © BidSecure 2024
        </div>
    </div>
</footer>